//主题主色调

//基本文字颜色
$dark-basic-font-color:#FFFFFF;
//基本背景颜色             
$dark-basic-background-color:#282E33;

//提示字体颜色
$dark-placeholder-color:#ccc;

//头部背景颜色
$dark-header-background:#3A4047;
//字体颜色
$dark-font-color:#3FC1B0;
//背景颜色
$dark-sidebar-background-color:#009687;

//侧栏主题切换按钮颜色
$dark-sidebar-button-background: white;


