//主题主色调

//基本文字颜色
$light-basic-font-color:#FFFFFF;
//基本背景颜色             
$light-basic-background-color:#000000;

//提示字体颜色
$light-placeholder-color:#ccc;

//头部背景颜色
$light-header-background:#F1F1F1;
//字体颜色
$light-font-color:#39A5DB;
//背景颜色
$light-background-color:#419FD9;

 