@import 
  "minix/bem",
  "common/var",
  "theme/theme";

@import "header",
        "message",
        "user-list",
        "side-list",
        "side-bar",
        "wrapper",
        "box";
  

        
body{
  height: 100vh;
}

.iconfont{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
}

//animation
.sidebar-enter,.sidebar-leave-active{
  transform: translateX(-270px)
}

.box-enter .tg-box__container{
  right: -100px;
  opacity: 0;
}

.box-leave-active .tg-box__container{
  opacity: 0;
}

.searchIcon-enter,.searchIcon-leave-active{
  transform: rotate(-45deg);
  opacity: 0;
  font-size: 12px;
}