@import 
  "minix/bem",
  "common/var",
  "theme/theme";

@import "header",
        "message",
        "user-list",
        "side-list",
        "side-bar",
        "wrapper",
        "box";
  

        
body{
  height: 100vh;
}

.iconfont{
  cursor: pointer;
}

::-webkit-scrollbar{
  width: 0;
}

//animation
.sidebar-enter,.sidebar-leave-active{
  transform: translateX(-270px)
}
