@include b(message) {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: calc(100% - 261px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    padding-bottom: 50px;
    @include e(emoji) {
        display: flex;
        i {
            font-size: 30px
        }
    }
    @include b(message-textarea) {
        position: fixed;
        bottom: 0;
        background: white;
        display: flex;
        right: 0;
        left: 260px;
        span{
            display: flex;
            i{
                padding: 10px;
                align-self: flex-end;
            }
        }
        @include b(editor) {
            margin-top: 17px;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border: none;
            resize: none;
            outline: none;
            min-height: 24px;
            max-height: 270px;
            overflow-y: auto;
            margin-bottom: 10px;
            line-height: 22px;
          }
    }
    .icon-huixingzhen {
        font-size: 30px;
        transform: rotate(180deg);
        display: inline-block;
    }
}