@include b(userlist) {
    margin-top: 15px;
}

@include b(user) {
    display: flex;
    cursor: pointer;
    padding: 10px;
    &:hover {
        background: #F1F1F1
    }
    @include e(avatar) {
        $len: 45px;
        width: $len;
        height: $len;
        border-radius: 30px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    @include e(block) {
        margin-left: 12px;
    }
}