@include b(wrapper) {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    background:black;
    opacity: 0.5;
    height: calc(100% - 20px);
    width:100%;
    transition: opacity .2s ease-out;
    z-index: 2;
}